useDynLib(ibmspsscf81)

export(
	ibmspsscfpkg.preaction,
	ibmspsscfpkg.postaction,
	ibmspsscfoutput.SetHTMLWithAllGraphs,
	ibmspsscfoutput.SinkOn,
	ibmspsscfoutput.SinkOff,
	ibmspsscfoutput.GetModel,
	ibmspsscfoutput.SetModel,
	ibmspsscfdatamodel.GetDataModel,
	ibmspsscfdatamodel.SetDataModel,
	ibmspsscfdata.GetData,
	ibmspsscfdata.HasMoreData,
	ibmspsscfdata.SetData
)